/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #474747;
}

.btn{
  font-size: 16px;
  padding: 10px;
  border-radius: 1px;
  border-style: none;
  cursor: pointer;
}
.btn-primary{
  color: white;
  background-color: cadetblue;
}
.btn:hover{
  background-color: #2a9a9d;
}
.btn:active{
  background-color: #005e62;
}