/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

/* create global variable with :root selector */
:root {
  --header-bg-color: #ffffff;
  --footer-bg-color: rgb(1, 163, 144);
  --text-color: #000;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-red: rgb(236, 56, 56);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #474747;
}

.footer{
  background: #02060c;
    color: #fff;
    padding: 1rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .logo {
  width: 80px;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
}

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;

  /* width: 100vw; */
  /* height: 80px; */
  background-color: var(--header-bg-color);
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  font-weight: bold;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: hidden; */
}

.nav-items > ul{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
  align-items: center;
}

.nav-items > ul > li {
  padding: 10px;
  font-size: large;
  cursor: pointer;
}

.nav-items > ul > li .logout-btn,
.nav-items > ul > li .login-btn {
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  margin-right: 15px;
}

.nav-items > ul > li .logout-btn {
  background-color: var(--orange);
}

.nav-items > ul > li .login-btn {
  background-color: var(--light-red);
}

.nav-items > ul > li .logout-btn:hover,
.nav-items > ul > li .login-btn:hover {
  background-color: var(--dark-green);
}
.nav-items > ul > li a {
  color: #7a7a7a;
    text-decoration: none;
}
.nav-items > ul > li a:hover {
  color: #fe5200
}




.card-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 240px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.card-image {
  width: 100%; /* Ensure image fills the card */
  height: auto; /* Maintain aspect ratio */
}

.card > h5 {
  font-weight: lighter;
}

.card > span {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  text-align: center;
}

.card > span > h4 {
  font-weight: bolder;
  font-size: 12px;
  padding: 0 2px 0;
  margin-top: 10px;
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: var(--light-green);
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-top: 5px;
}

.card > span > h4:first-child .fa-star {
  font-size: 10px;
  padding: 0 5px 3px 0;
}


/*Shimmer CSS */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}


.card-container a {
  color: inherit;
  text-decoration: none;
}

/* Restaurant Menu CSS Start */
.restaurant-menu {
  margin-top: 80px;
  min-height: 80vh;
  width: auto;
}
.restaurant-summary {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  color: var(--white);
}
.restaurant-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}
.restaurant-summary-details {
  display: flex;
  flex-direction: column;
  flex-basis: 520px;
  margin: 20px;
}
.restaurant-title {
  font-size: 40px;
  max-width: 540px;
  font-weight: 300;
}
.restaurant-tags {
  white-space: nowrap;
  color: inherit;
  opacity: 0.7;
  font-size: 15px;
  max-width: 540px;
}
.restaurant-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  max-width: 340px;
}
.restaurant-rating {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  gap: 5px;
  background-color: var(--dark-green);
  border-radius: 5px;
}

.restaurant-menu-content {
  display: flex;
  justify-content: center;
}

.menu-items-container {
  margin-top: 30px;
  width: 850px;
}
.menu-title-wrap {
  padding: 20px;
}
.menu-count {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  letter-spacing: -0.3px;
  font-size: 1rem;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  max-height: 250px;
  padding: 20px;
  border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
}
.menu-item-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}

.item-title {
  width: 60%;
}
.item-desc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  width: 60%;
  letter-spacing: -0.3px;
  font-size: 1rem;
}
.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width: 40%;
}

.menu-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  overflow: hidden;
}
.menu-item-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.add-btn {
  background-color: var(--orange);
  color: var(--text-color);
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  border-color: var(--dark-orange);
  margin-top: 10px;
  border-radius: 5px;
}

/* Restaurant Menu End Start */

/* About us page CSS Start */
.about-container-main {
  min-height: 87vh;
}

.about-profile-container {
  margin: 120px auto 0px;
  text-align: center;
}

.about-profile-button {
  background-color: var(--orange);
  color: var(--white);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.about-profile-button:hover {
  background-color: var(--dark-orange);
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 25px 10px;
  justify-content: space-evenly;
  align-items: center;
}

.about-container .about-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  overflow-y: hidden;
}

.about-container .about-left h1 {
  font-size: 70px;
  color: var(--light-text-color);
}

.about-container .about-left h1 span {
  background-color: var(--orange);
  padding: 0 10px;
  border-radius: 15px;
  color: var(--light-white-text);
}

.about-container .about-left h4 {
  font-size: 25px;
  margin-top: 10px;
  font-style: italic;
  color: var(--light-text-color);
}

.about-container .about-left h4 span {
  color: var(--dark-orange);
}

.about-container .about-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.about-container .about-right img {
  width: 500px;
}

/* About us page CSS End */

/* Profile Class page CSS Start */
.profile-class-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.profile-container {
  flex: 0.8;
  padding: 20px 10px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.71);
  background: #fff;
}

.profile-title,
.repo-title {
  font-size: 28px;
  line-height: 1.1;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  overflow-y: hidden;
}

.repo-title {
  margin-bottom: 30px;
}

.repo-container {
  flex: 1.2;
  padding: 20px 10px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.71);
  background: #fff;
}

.repo-title span {
  color: var(--dark-orange);
}

/* Profile Class page CSS End */

/* Profile User Class page CSS Start */
.profile-user-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-user-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  border-style: none;
  cursor: pointer;
  margin: 5px;
}

.profile-user-img:hover {
  transform: scale(1.02);
}

.profile-user-bio {
  font-size: 18px;
  text-align: center;
  color: #575757;
  margin: 0px 10px;
}

/* Profile User Class page CSS End */

/* ProfileRepo Class page CSS Start */
.profile-repo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.71);
  background: #fff;
  height: 100%;
}

.profile-repo-container .profile-repo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-repo-container .profile-repo h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.71);
  background: #fafafa;
  color: var(--dark-orange);
  margin: 20px auto 0px;
  padding: 10px 20px;
}

.profile-repo-container .profile-repo h1 a:hover {
  transform: scale(1.01);
  color: var(--orange);
}

.profile-repo-container .profile-repo .repo-des {
  margin: 30px 40px 15px;
  color: var(--light-text-color);
}

.profile-repo .profile-repo-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  color: var(--dark-orange);
}

.profile-repo .profile-repo-items h3 a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

.profile-repo .profile-repo-items h3 a:hover {
  transform: scale(1.01);
  color: var(--orange);
}

.profile-repo .profile-repo-items h3 a span {
  margin-left: 5px;
}
/* ProfileRepo Class page CSS End */

/* Social Profile Class page CSS Start */
.social-media-container {
  width: 100%;
}

.icon-button {
  margin: 0px 10px;
}

.icon-button i {
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  height: 2.6rem;
  width: 2.6rem;
  line-height: 3rem;
  overflow-y: hidden;
}

.icon-button i:hover {
  transform: scale(1.02);
}

.linkedin i {
  background-color: #0a66c2;
}

.twitter i {
  background-color: #00acee;
}

.github i {
  background-color: #333;
}

.email i {
  background-color: #ea4335;
}
/* Social Profile Class page CSS End */

.filter-container{
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  margin: 35px;
  gap: 20px;
}

